<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://redom.js.org/redom.min.js"></script>
    
  </head>
  <body>
    <script src="/client.js"></script>
    <label>Hello {{hello}}!</label>
    <noscript>
      You don't have javascript enabled.
    </noscript>
    
  </body>
</html>